<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <ul>
        <%= @messages.each do |message| %>
          <li>
            <%= message.user.email %> - <%= message.content %>
            <%= link_to "voir le message", message_path(message) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
