<div class="container text-center">
  <h1> Wagon Hunt</h1>
  <p>Find the best tech products</p>
  <p>
    We have <strong> lots of new products </strong> on <%= @today %>
  </p>
  <p>
    <%= link_to "Accéder aux produits", products_path,class: "btn btn-success"%>
  </p>
</div>
